# Progetto Machine Learning
Progetto per il corso di Machine Learning - SUPSI DTI 2020/2021.

Gruppo formato da:
* De Santi Massimo
* Aleskandar Stojkovski

## Dataset

I dati sono stati raccolti tramite report scolastici e questionari. 
I dati provengono da due scuole superiori Portoghesi:
- GP: Gabriel Pereira 
- MS: Mousinho da Silveira

Tra gli attributi disponibili troviamo:
- attributi demografici
- attributi sociali
- attributi relativi alla scuola
- voti

Attraverso due distinti **dataset** vengono analizzate le performance di due **materie**:

| Dataset | Materia | Righe |
| :-- | :-- | --- | 
| *student-mat.csv* | Matematica | 395 |
| *student-por.csv* | Lingua Portoghese | 649 |

Link dataset: https://archive.ics.uci.edu/ml/datasets/Student+Performance

## Descrizione Attributi

| i | col | description |
| --- | :- | :- |
| 1  | school     | student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
| 2  | sex        | student's sex (binary: "F" - female or "M" - male)
| 3  | age        | student's age (numeric: from 15 to 22)
| 4  | address    | student's home address type (binary: "U" - urban or "R" - rural)
| 5  | famsize    | family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
| 6  | Pstatus    | parent's cohabitation status (binary: "T" - living together or "A" - apart)
| 7  | Medu       | mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
| 8  | Fedu       | father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
| 9  | Mjob       | mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
| 10 | Fjob       | father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
| 11 | reason     | reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
| 12 | guardian   | student's guardian (nominal: "mother", "father" or "other")
| 13 | traveltime | home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
| 14 | studytime  | weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
| 15 | failures   | number of past class failures (numeric: n if 1<=n<3, else 4)
| 16 | schoolsup  | extra educational support (binary: yes or no)
| 17 | famsup     | family educational support (binary: yes or no)
| 18 | paid       | extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
| 19 | activities | extra-curricular activities (binary: yes or no)
| 20 | nursery    | attended nursery school (binary: yes or no)
| 21 | higher     | wants to take higher education (binary: yes or no)
| 22 | internet   | Internet access at home (binary: yes or no)
| 23 | romantic   | with a romantic relationship (binary: yes or no)
| 24 | famrel     | quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
| 25 | freetime   | free time after school (numeric: from 1 - very low to 5 - very high)
| 26 | goout      | going out with friends (numeric: from 1 - very low to 5 - very high)
| 27 | Dalc       | workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
| 28 | Walc       | weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
| 29 | health     | current health status (numeric: from 1 - very bad to 5 - very good)
| 30 | absences   | number of school absences (numeric: from 0 to 93)
| 31 | G1 | first period grade (numeric: from 0 to 20) |
| 31 | G2 | second period grade (numeric: from 0 to 20) |
| 32 | G3 | final grade (numeric: from 0 to 20, output target) |

## Note
* L'attributo target `G3` (Voto terzo e ultimo anno) ha una forte correlazione con gli attributi `G1` (voto primo anno) e `G2` (voto secondo anno). E' piu' difficile predire `G3` senza `G1` e `G2`, ma questa predizione e' anche piu' utile.
* Eseguendo un `group by` per attributi demografici e' possibile identificare gli studenti univoci come mostrato nel file student-merge.R

## Citazioni

P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. 
In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7. http://www3.dsi.uminho.pt/pcortez/student.pdf

# Read dataset

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import plotly.express as px
import plotly.graph_objects as go

# this allows plots to appear directly in the notebook
%matplotlib inline

In [12]:
# dataset urls
portuguese_dataset_url = "https://raw.githubusercontent.com/aleksandarstojkovski/SUPSI_Machine_Learning/main/dataset/student-por.csv"
math_dataset_url = "https://raw.githubusercontent.com/aleksandarstojkovski/SUPSI_Machine_Learning/main/dataset/student-mat.csv"

# dataframes
df_por = pd.read_csv(portuguese_dataset_url, sep=';')
df_math = pd.read_csv(math_dataset_url, sep=';')
df = pd.concat([df_por, df_math], ignore_index=True)

395

# Getting to know the dataset

In [57]:
len(df_por) #649 rows
len(df_math) #395 rows
len(df) #1044 total rows

#group_cols = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]
group_cols = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason", "nursery","internet",
              "guardian", "traveltime","famrel","freetime","goout","Dalc","Walc"]
size = df.groupby(group_cols).size().reset_index() 
len(size[size[0] > 2]) #0 studenti, OK avendo 2 materie non ci aspettiamo piu' di 2 sovrapposizioni
len(size[size[0] == 2]) #372 studenti che seguono sia Matematica che Portoghese
len(size[size[0] == 1]) #300 studenti che seguono solo una materia
len(size[size[0] >= 1]) #672 studenti totali

672

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
dtypes: int64(16), object(17)
memory usage: 269.3+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.nunique()

school         2
sex            2
age            8
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         4
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      35
G1            18
G2            17
G3            19
dtype: int64

In [7]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [8]:
df.shape

(1044, 33)

# Data wrangling

# Exploration

In [ ]:
gender_count = df['sex'].value_counts().reset_index()
gender_count.columns = ['gender', 'count']
gender_count

In [ ]:
fig = px.pie(gender_count, values='count', names='gender')
fig.update_layout(
    title=dict(
        text='Gender Distribution',
        y=0.95,
        x=0.5,
        xanchor='center',
        yanchor='top'
    )
)
fig.show()
#############################
# Invertire colori!!
#############################